# @ref
# @https://www.cyberciti.biz/tips/bash-aliases-mac-centos-linux-unix.html

### COMMON ###

alias .aliases="vim ~/.aliases"
alias .bashrc="vim ~/.bashrc"
alias .tmux.conf="vim ~/.tmux.conf"
alias .vimrc="vim ~/.vimrc"
alias .zshrc="vim ~/.zshrc"
alias c="clear"
alias dfh='df -h'

### TOOLS ###

alias bat="batcat"
alias chat="chatgpt"
alias cheat="cht"
alias dc="docker compose"
alias dce="docker compose exec"
alias dk="docker"
alias fdf="fdfind"
alias k="kubectl"
alias h="helm"
alias mnk="minikube"
alias sym="symfony"

### INSTALL
alias busy_install="sudo apt install -y busybox"
alias cht_install="curl -s https://cht.sh/:cht.sh | sudo tee /usr/local/bin/cht.sh && sudo chmod +x /usr/local/bin/cht.sh"

### OMZ zsh ###
# copybuffer is Ctrl-O
alias cph="copypath"
alias cpf="copyfile"

### LIST ###
export LS_OPTIONS='--color=auto'
eval "`dircolors`"
# alias ls='ls $LS_OPTIONS'
# alias ll='ls $LS_OPTIONS -l'
# alias l='ls $LS_OPTIONS -lA'

# use eza
# https://github.com/eza-community/eza
# ld=’eza -lD’
# lf=’eza -lf --color=always | grep -v /’
# lh=’eza -dl .* --group-directories-first’
# ll=’eza -al --group-directories-first’
# ls=’eza -alf --color=always --sort=size | grep -v /’
# lt=’eza -al --sort=modified’

### NET ##
alias ipme="curl -L ipconfig.me"
# e.g. lsof -i:22 tcp:3306
alias lsofpni="lsof -nP -i"
alias nsplunt="netstat -plunt"
alias net="lsof,nc,netstat"

### GREP ###
# https://www.malekal.com/grep-egrep-fgrep-rgrep-quelles-sont-les-differences
alias grep='grep --color=auto'
alias egrep='grep -E'
alias fgrep='grep -F'

### TMUX built'in ###
# OMZ tmux build_tmux_alias
alias ta="tmux attach -t"
alias tad="tmux attach -d -t"
alias ts="tmux new-session -s"
alias tkss="tmux kill-session -t"

### HISTORY ###
function _historyfzf () {
  $(history | fzf | grep -oE [^0-9]+)
}
alias hf="_historyfzf"


##### # others

alias vimgolf="vimgolf || sudo apt install -y rubygems && sudo gem install vimgolf && vimgolf setup && sudo gem install vimgolf-finder"
alias vimgolfd="docker run --rm -it ghcr.io/filbranden/vimgolf" # <vimgolf_id>

