# @ref
# @https://www.cyberciti.biz/tips/bash-aliases-mac-centos-linux-unix.html

### COMMON ###

alias .aliases="vim ~/.aliases"
alias .bashrc="vim ~/.bashrc"
alias .tmux.conf="vim ~/.tmux.conf"
alias .vimrc="vim ~/.vimrc"
alias .zshrc="vim ~/.zshrc"
alias c="clear"
alias dfh='df -h'

### TOOLS ###

alias bat="batcat"
alias dc="docker compose"
alias dce="docker compose exec"
alias dk="docker"
alias fdf="fdfind"
alias k="kubectl"
alias h="helm"
alias mnk="minikube"
alias sym="symfony"


### OMZ zsh ###
# copybuffer is Ctrl-O
alias cph="copypath"
alias cpf="copyfile"

### LIST ###
export LS_OPTIONS='--color=auto'
eval "`dircolors`"
alias ls='ls $LS_OPTIONS'
alias ll='ls $LS_OPTIONS -l'
alias l='ls $LS_OPTIONS -lA'

# use eza
# https://github.com/eza-community/eza
# ld=’eza -lD’
# lf=’eza -lf --color=always | grep -v /’
# lh=’eza -dl .* --group-directories-first’
# ll=’eza -al --group-directories-first’
# ls=’eza -alf --color=always --sort=size | grep -v /’
# lt=’eza -al --sort=modified’

### NET ##
alias ipme="curl -L ipconfig.me"
alias nsplunt="netstat -plunt | grep LISTEN"
# e.g. lsof -i tcp:3306
alias lsofpni="lsof -P -n -i"

### GREP ###
# https://www.malekal.com/grep-egrep-fgrep-rgrep-quelles-sont-les-differences
alias grep='grep --color=auto'
alias egrep='grep -E'
alias fgrep='grep -F'

### TMUX built'in ###
# OMZ tmux build_tmux_alias
alias ta="tmux attach -t"
alias tad="tmux attach -d -t"
alias ts="tmux new-session -s"
alias tkss="tmux kill-session -t"

### HISTORY ###
function _historyfzf () {
  $(history | fzf | grep -oE [^0-9]+)
}
alias hf="_historyfzf"




##### # others

alias vimgolf="vimgolf || sudo apt install -y rubygems && sudo gem install vimgolf && vimgolf setup && sudo gem install vimgolf-finder"
alias vimgolfd="docker run --rm -it ghcr.io/filbranden/vimgolf" # <vimgolf_id>

#####################################
### Resume of custom cmd for memo ###
#####################################

# useful cli urls
alias myurl='echo "
https://httpbin.org
http://headers.jsontest.com
"'


# see all installed custom tools
alias my='echo "
- COMMON -
busybox, brew, nix, snap

- DEV & DATA -
gron, iredis, jq, k9s, kdash, mnk (minikube)
tig, tmux, tmuxinator, vim

- FILES & LOGS -
bat(cat), ccze, eza, fdfind, fzf, fzy, ranger, rsync, tre(-command)

- FUN -
cmatrix, cowsay, figlet, fortune, lolcat, nms, sl

- HELPER & AI -
cht(.sh), grex, navi, so, tldr, up

- MONITOR & INFO -
btop, duf, lshw, ncdu, neofetch, procs, ~/welcome.sh

- NETWORK -
bandwhich, curlie, httpie, http-prompt, lynx, w3m

- TRAIN -
gtypist, tt, ttyper, toipe, vimgolf

- UTILS & WORK -
bc, entr, pass, taskwarrior, uuidgen

- ZSH -
als, C-o (cmd), cph, cpf, z \
"'
