# @ref
# https://www.cyberciti.biz/tips/bash-aliases-mac-centos-linux-unix.html

# COMMANDS #
alias ..='cd ..'
alias .bashrc="vim ~/.bashrc"
alias .zshrc="vim ~/.zshrc"
alias c="clear"
alias dfh='df -h'
alias home='cd ~'

# omz
 # copybuffer is Ctrl-O
 alias cph="copypath"
 alias cpf="copyfile"

# useful #
alias dc="docker compose"
alias dce="docker compose exec"
alias k="kubectl"
alias h="helm"
alias sym="symfony"

# LIST #
export LS_OPTIONS='--color=auto'
eval "`dircolors`"
alias ls='ls $LS_OPTIONS'
alias ll='ls $LS_OPTIONS -l'
alias l='ls $LS_OPTIONS -lA'

# GREP #
# https://www.malekal.com/grep-egrep-fgrep-rgrep-quelles-sont-les-differences
alias grep='grep --color=auto'
alias egrep='grep -E'
alias fgrep='grep -F'

# HISTORY #
function _historyfzf () {
  $(history | fzf | grep -oE [^0-9]+)
}
alias hf="_historyfzf"
